[Unit]
Description=smpcp daemon
Documentation=man:smpcp(1)
After=mpd.service

[Service]
Environment="PATH=/usr/bin:/usr/local/bin:%h/.local/bin"
ExecStart=%h/.local/bin/smpcpd

[Install]
WantedBy=default.target
